<div class="row">
    <div class="col-6">
        <div class="card">
            <app-dona   titulo="Ventas"
                        [labels]="labels1"
                        [data]="data1"></app-dona>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <app-dona titulo="Compras"></app-dona>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <app-dona titulo="Cambios"></app-dona>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <app-dona></app-dona>
        </div>
    </div>
</div>